################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ParkingLotDesignApp/.vs/ParkingLotDesignApp
/ElevatorSystemDesign/.vs/ElevatorSystemDesign
